.column-add-button {
    width: 350px;
    height: 60vh;
    margin-left: 30px;

    flex: 0 0 auto;

    font-size: 100px;
    color: rgb(124, 124, 124);

    border: 3px dashed rgb(124, 124, 124);
    border-radius: 10px;
}

.btn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    margin-left: 10px;
}