* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(75, 75, 75);
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

    // background-image: url(../../../double-bubble-dark.png);
}

.page-title {
    margin-top: 55px;
    font-family: 'Sriracha', cursive;
    font-size: 30px;
    text-align: center;
    color: rgb(43, 44, 133);
}


.container {
    margin-top: 60px;
    width: 95vw;
    padding: 5px;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    margin-right: auto;
    margin-left: auto;
    
    display: flex;
    justify-content: flex-start;
}
